
@import url( //fonts.googleapis.com/css?family=Lekton:700&v2 );

body {
    background:                 #EFEFEF url( ../img/bg.png ) top left repeat;
    font-family:                Helvetica, Arial, serif;
    margin:                     0px 0px 0px 0px;
    padding:                    0px 0px 0px 20px;
    font-size:                  16px;
    line-height:                1.5;
}

#container {
    width:                      800px;
    margin:                     0 auto;
}

header, section, article {
    display: block;
}

section {
    background-color:           white;
    -webkit-border-radius:      10px;
    -moz-border-radius:         10px;
    -o-border-radius:           10px;
    -ms- border-radius:         10px;
    border-radius:              10px;
    box-shadow:                 0 1px 3px #CCCCCC;
    padding:                    20px 30px 15px 30px;
    margin-bottom:              20px;
}

a, strong, section > h1, h2 {
    color:                      #365ABA;
}

a {
    text-decoration:            none;
}

a:hover {
    color:                      #666;
}

a > img {
    border:                     none;
}

h1, h2 {
    font-family:                Lekton;
    text-shadow:                0px 1px 0px #FFF;
}

h1 {
    color:                      #666;
    margin-top:                 20px;
    margin-bottom:              5px;
}

h2 {
    margin-top:                 0;
    margin-bottom:              5px;
}

p {
    margin:                     0;
}

code {
    background-color:           #FFF;
    padding:                    0 10px;
    font-family:                Monaco, Menlo, monospace;
    font-size:                  0.9em;
}

.big {
    font-size: 1.3em;
}

p.install {
    text-align: center;
}

#lang {
    float: right;
    margin-top: -30px;
    margin-right: 10px;
}

#flattr {
    text-align: center;
    margin-bottom: 50px;
}

.lightbox {
    width: 100%;
}

.lightbox.open {

}

/* Blue Pill (inspired by iTunes)
 * By Chad Mazzola (http://hellohappy.org/css3-buttons/)
 */
button::-moz-focus-inner {
  border: 0; }
button.blue-pill {
  background-color: #a5b8da;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
  background-image: linear-gradient(top, #a5b8da, #7089b3);
  border-top: 1px solid #758fba;
  border-right: 1px solid #6c84ab;
  border-bottom: 1px solid #5c6f91;
  border-left: 1px solid #6c84ab;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
  -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
  -ms-box-shadow: inset 0 1px 0 0 #aec3e5;
  -o-box-shadow: inset 0 1px 0 0 #aec3e5;
  box-shadow: inset 0 1px 0 0 #aec3e5;
  color: #fff;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 -1px 1px #64799e;
  text-transform: uppercase;
  width: 300px;
  font-size: 16px }
  button.blue-pill:hover {
    background-color: #9badcc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9badcc), to(#687fa6));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
    background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
    background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
    background-image: -o-linear-gradient(top, #9badcc, #687fa6);
    background-image: linear-gradient(top, #9badcc, #687fa6);
    border-top: 1px solid #6d86ad;
    border-right: 1px solid #647a9e;
    border-bottom: 1px solid #546685;
    border-left: 1px solid #647a9e;
    -webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
    -moz-box-shadow: inset 0 1px 0 0 #a5b9d9;
    -ms-box-shadow: inset 0 1px 0 0 #a5b9d9;
    -o-box-shadow: inset 0 1px 0 0 #a5b9d9;
    box-shadow: inset 0 1px 0 0 #a5b9d9;
    cursor: pointer; }
  button.blue-pill:active {
    border: 1px solid #546685;
    -webkit-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
    -ms-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
    -o-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee; }
